{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static '../static/js/jquery.js' %}"></script>
    <script src="{% static '../static/js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static '../static/css/styles.css' %}">
    <!-- <link rel="stylesheet" href="{% static '../static/css/tailwind.css' %}"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Geologica&display=swap">
    <title>Path Puzzles Solver</title>
</head>
<body>
    <div class="fixed bg-gray-200 h-full w-full sm:block lg:invisible md:block flex p-4 text-green-600 text-center justify-center opacity-90 items-center text-3xl z-20">This page is optimized for larger displays and is not suitable for viewing on smaller displays.</div>
    <h1 class="pt-6 font-mono font-bold text-center text-5xl">Path Puzzles Solver</h1>
    <div class="mx-8">
        <h2 class="text-3xl font-bold font-mono mb-4 mt-4">About Path Puzzles</h2>
        <p class="text-lg">Path puzzle is a pencil-and-paper puzzle introduced by Roderick Kimball in his book in 2013. The puzzle is played on a grid with rows and columns. Some of these rows and columns have numbers on them, which act as clues. The goal is to draw a line that connects the two 'door cells' on the edge of the grid, passing through each cell at most once. You have to make sure that the number of cells you pass through in each row and column matches the clue numbers.</p>
        <p class="text-lg">To find out more about the puzzle, check <a href="https://www.enigami.fun/copy-of-puzzles" class="underline text-blue-800">this</a> out.</p>
    </div>
    <div class="rounded-lg grid sm:grid-cols-1 lg:grid-cols-3 gap-4 bg-gray-200 mt-8 px-12 h-fit pt-6" style="padding-bottom: 4rem;">
        <div class="flex flex-col gap-4 items-start ml-28 mt-28">
            <div class="flex gap-4">
                <label for="M" class="w-16 text-lg">Height</label>
                <input type="range" id="M" name="M" min="1" max="10" value="5" list="values" class="w-60 bg-teal-500">
                <p id="rangeValueM" class="ml-2 w-4 text-lg font-bold">5</p>
            </div>
            <div class="flex gap-4">
                <label for="N" class="w-16 text-lg">Width</label>
                <input type="range" id="N" name="N" min="1" max="10" value="5" list="values" class="w-60">
                <p id="rangeValueN" class="ml-2 w-4 text-lg font-bold">5</p>
            </div>
            <datalist id="values">
                <option value="1" label="1"></option>
                <option value="2" label="2"></option>
                <option value="3" label="3"></option>
                <option value="4" label="4"></option>
                <option value="5" label="5"></option>
                <option value="6" label="6"></option>
                <option value="7" label="7"></option>
                <option value="8" label="8"></option>
                <option value="9" label="9"></option>
                <option value="10" label="10"></option>
            </datalist>
            <div class="flex gap-4">
                <div class="bg-indigo-600 hover:bg-indigo-700 active:bg-indigo-800 rounded-full h-10 w-40 border border-gray-500 text-center text-white">
                    <button id="doorButton" type="button" class="w-full h-full">
                        <p class="text-lg door-text">Change Door Cell</p>
                    </button>
                </div>
                <div class="bg-fuchsia-600 hover:bg-fuchsia-700 active:bg-fuchsia-800 rounded-full h-10 w-40 border border-gray-500  text-center text-white">
                    <button id="clearButton" type="button" class="w-full h-full">
                        <p class="text-lg">Clear Grid</p>
                    </button>
                </div>
            </div>
            <div class="flex gap-4">
                <div class="bg-orange-600 hover:bg-orange-700 active:bg-orange-800 rounded-full h-10 w-40 border border-gray-500 text-center text-white">
                    <button id="caseButton" type="button" class="w-full h-full">
                        <p class="text-lg case-text">Get A Case</p>
                    </button>
                </div>
                <div class="bg-red-600 hover:bg-red-700 active:bg-red-800 rounded-full h-10 w-40 border border-gray-500 text-center text-white">
                    <button id="undoButton" type="button" class="w-full h-full">
                        <p class="text-lg undo-text">Undo Path</p>
                    </button>
                </div>
            </div>
            <div class="flex">
                <div class="bg-lime-600 hover:bg-lime-700 active:bg-lime-800 rounded-full h-10 w border border-gray-500 text-center text-white" style="width: 21rem;">
                    <button id="modeButton" type="button" class="w-full h-full">
                        <p class="mode-text text-lg">Solve It Yourself</p>
                    </button>
                </div>
            </div>
            <div class="bg-yellow-300 hover:bg-yellow-400 active:bg-yellow-500 rounded-full h-12 w-32 border border-gray-500 text-center mt-8">
                <button id="solveButton" type="button" class="w-full h-full">
                    <p class="font-bold solve-text text-2xl">Solve!</p>
                </button>
            </div>
        </div>
        <div class="flex flex-col gap-4 items-center">
            <div id="instance" class="flex flex-col place-content-center ml-4 mr-12 w-fit" style="height: 36rem;"></div>
            <div class="w-full h-12"><p id ="navi" class="text-2xl text-center text-red-600"></p></div>
        </div>
        <div class="ml-8">
            <h2 class="text-3xl font-bold font-mono align-center mb-4">Instructions</h2>
            <ul class="list-disc text-lg">
                <li>Adjust the Width and Height sliders to change the dimension of the puzzle grid.</li>
                <li>Move the door cells marked with <button class="cursor-default border-black border h-5 w-5 bg-green-200"></button> by pressing <button class="cursor-default w-40 h-8 bg-indigo-600 rounded-full border border-gray-500 text-center text-white">Change Door Cell</button>. </li>
                <li>Modify the clue numbers for each row and column by directly changing their values. Leave the value empty for no restrictions.</li>
                <li>Press <button type="button" class="cursor-default bg-yellow-300 rounded-full h-8 w-20 border border-gray-500 text-center font-bold text-xl">Solve!</button> to get the solver to find the solution of the puzzle and draw it on the grid if exists.</li>
                <li>Remove the path from the grid by pressing <button type="button" class="cursor-default h-8 w-32 bg-fuchsia-600 rounded-full border border-gray-500 text-center text-white">Clear Grid</button>.</li>
                <li>Press <button type="button" class="cursor-default h-8 w-44 rounded-full bg-lime-600 border border-gray-500 text-center text-white">Solve It Yourself</button> to attempt solving the puzzle by yourself. </li>
                <li>To start solving the puzzle, click on one of the door cells marked by <button class="cursor-default border-black border h-5 w-5 bg-green-500"></button> and then continue to its adjacent cells. Once you have reached the other door cell, you will receive a verdict indicating whether your solution is correct.</li> 
                <li>Made a mistake while creating the path? backtrack one cell to try another by pressing <button type="button" class="bg-red-600 cursor-default w-32 h-8 rounded-full border border-gray-500 text-center text-white">Undo Path</button> or you can restart from scratch by simply pressing <button type="button" class="cursor-default h-8 w-32 bg-fuchsia-600 rounded-full border border-gray-500 text-center text-white">Clear Grid</button>.</li>
                <li>Press <button class="cursor-default bg-orange-600 hover:bg-orange-700 active:bg-orange-800 rounded-full h-8 w-28 border border-gray-500 text-center text-white">Get A Case</button> to have a random case mapped on the grid.
                </li>
            </ul>
        </div>
    </div>
</body>
</html>